* {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

.navbar {
  margin-bottom: 0;
  border-radius:0;
  border-top:none;
  border-left:none;
  border-right:none;
}

.content {
  padding: 0 20px;
  color: #595959;
}

.topless {
  margin-top: 0;
  padding-top: 0;
}

.left-half {
  width:50%;
  float:left;
  padding: 20px 20px 0 20px;
}

.right-half {
  width:50%;
  float:right;
  padding: 20px 20px 0 20px;
}

.page-title {
  padding: 10px 0 0 0;
  font-size: 50px;
}

.banner {
  width:100%;
  padding: 20px 0;
}

.image-overlay {
  text-align: center;
  position:relative;
  width: 400px;
  left:calc(50% - 200px);
  color:white;
  top:calc(8vw);
  height:0;
}

input, textarea {
    width:100%;
    max-width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    margin: 5px 0;
    padding: 10px;
}

.send {
  background-color: #ffccf2;
  width:20%;
  margin: 5px auto;
  transition: background-color 0.2s ease-in-out;
}

.send:hover {
  background-color: #ffe6f9;
}

.clear {
  width: 100%;
  height: 100px;
}

.overlay-button {
  color:white;
  padding:8px;
  margin: 20px;
  border-radius:5px;
  background-color: #0080ff;
  border: 0 none;
  transition: background-color 0.2s ease-in-out;
  cursor:pointer;
}

.overlay-button:hover {
  background-color: #3399ff;
  color: white;
  text-decoration: none;
}

.opt-in {
  background-color: #e6e6e6;
  padding: 20px;
}

form {
  margin-bottom: 0;
}
 .post-title {
   font-size: 20px;
 }

 /* Footer style */

.site-footer {
  color:white;
  background-color: #333333;
  padding: 20px;
  width:100%;
  margin-top:20px;
}

 .footer-heading {
   font-size: 20px;
 }

.footer-col-wrapper {
  display:table-row;
  width:inherit;
}

.footer-col {
  display:table-cell;
}

.footer-col-1{
  width: 33%;
  padding-right: 5px;
}

.footer-col-2{
  width: 34%;
  padding: 0 20px;
}

.footer-col-3{
  width: 33%;
  padding-left: 5px;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.service-cell {
  display:table-cell;
  width:50%;
  vertical-align:top !important;
  padding: 20px 20px;
}

.service-cell.left {
  padding-right: 20px;
}

.service-cell.right {
  padding-left: 20px;
}

.grey {
  background-color: #f2f2f2;
}

.service-row {
  display:table-row;
}
