* {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

.content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.create {
  font-family: 'Montserrat', sans-serif;
  font-size:90px;
  letter-spacing: 12px;
  text-shadow: 3px 2px black;
}

.navbar {
  margin-bottom: 0;
  border-radius:0;
  border-top:none;
  border-left:none;
  border-right:none;
}

.topless {
  margin-top: 0;
  padding-top: 0;
}

.bottomless {
  margin-bottom: 0;
  padding-bottom: 0;
}

.left-half {
  width:50%;
  float:left;
  padding: 20px 20px 0 20px;
}

.right-half {
  width:50%;
  float:right;
  padding: 20px 20px 0 20px;
}

.page-title {
  padding: 10px 0 0 0;
  font-size: 50px;
}

.banner {
  width:100%;
  padding: 20px 0;
}

.image-overlay {
  text-align: center;
  position:relative;
  width: 100%;
  color:white;
  top:5vw;
  height:0;
}

input, textarea {
    width:100%;
    max-width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    margin: 5px 0;
    padding: 10px;
}

.send {
  background-color: #ffccf2;
  width:100px;
  margin: 5px auto;
  transition: background-color 0.2s ease-in-out;
}

.send:hover, .send:active {
  background-color: #ffe6f9;
}

.clear {
  width: 100%;
  height: 100px;
}

.overlay-button {
  color:white;
  padding:12px;
  margin: 20px;
  border-radius:8px;
  background-color: #0080ff;
  border: 2px solid #0080ff;
  transition: background-color 0.2s ease-in-out;
  transition: border 0.2s ease-out;
  cursor:pointer;
  font-size: 14px;
}

.overlay-button.services {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  text-shadow: 2px 1px black;
}

.overlay-button:hover, .overlay-button:active {
  background-color: #3399ff;
  border: 2px solid #3399ff;
  color:white;
  text-decoration: none;
}

.overlay-button.services:hover, .overlay-button.services:active {
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid white;
  color:white;
  text-decoration: none;
}

.opt-in {
  background-color: #e6e6e6;
  padding: 20px;
}

form {
  margin-bottom: 0;
}
 .post-title {
   font-size: 20px;
 }

 /* Footer style */

.site-footer {
  color:white !important;
  background-color: #333333;
  padding: 20px;
  width:100%;
  margin-top:20px;
  bottom:0;
  font-size: 16px !important;
}

 .footer-heading {
   font-size: 20px;
 }

.footer-col-wrapper {
  display:table-row;
  width:inherit;
}

.footer-col {
  display:table-cell;
}

.footer-col-1{
  width: 33%;
  padding-right: 5px;
}

.footer-col-2{
  width: 34%;
  padding: 0 20px;
}

.footer-col-3{
  width: 33%;
  padding-left: 5px;
}

.icon svg {
  width: 20px;
  height: 20px;
}

/* About page */
.about-left {
  display:table-cell;
  width:50%;
  vertical-align: top;
  padding:20px 20px 20px 0;
}

.about-right {
  display:table-cell;
  width:50%;
  vertical-align: top;
  padding:20px 0 20px 20px;
}

.about-columns {
  columns: auto 2;
  column-gap: 40px;
}

/* Services page */
.services-cell {
  display:table-cell;
  width:50%;
  vertical-align:top !important;
  padding: 20px;
}

.grey {
  background-color: #f2f2f2;
}

.service-row {
  display:table-row;
}

/* Contact page */
.contact-left {
  width:50%;
  float:left;
  padding-right:20px;
}

.contact-right {
  width:50%;
  float:right;
  padding-left:20px;
}

/* Universal */
.full {
  width:100%;
  margin: 20px 0;
}
