<head>
  <!-- JQuery -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- My CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">{{ site.title }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="content">
    <div class="text-center">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>

  <hr>

  <div class="vision" style="width:80%;margin:0 auto;">
    <h1 style="text-align:center;">Vision</h1>
    <p style="font-size:20px;text-align:center;">To be the leading music studio in Vancouver in developing <b style="font-size:inherit;">extraordinary musicians</b> who have a fluency in reading and performing music that they can <b style="font-size:inherit;">appreciate</b> for life.</p>
  </div>

  <hr>

  <div class="left-half">
    <h1>Mission</h1>
    <p>To create a <b>powerful learning environment</b> in music education by implementing cutting edge research in <b>motor skill learning</b> and performance psychology to accelerate students’ learning and to enhance their ability to perform.</p>
    <p style="margin-top:5px;">Students will develop a strong foundation in technique, music theory, reading and musical expression in a dynamic and fun lesson!</p>

    <h1>Brennan Chan</h1>
    <p></p>

    <h1>Qualifications</h1>
    <ul>
      <li>
        Bachelors of Music (UBC)
      </li>
      <li>
        ARCT Diploma in Piano Performance
      </li>
      <li>
        LBCM Diploma in Piano Performance
      </li>
      <li>
        Certified Kelly Kirby Instructor
      </li>
    </ul>
  </div>
  <div class="right-half">
    <img src="assets/brennan_vam.jpg" width="100%">
  </div>

  <div class="clear"></div>

</body>
