<head>
  <title>Brennan Chan Piano{% if page.title %} | {{ page.title|capitalize }}{% endif %}</title>
  <!-- JQuery -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- My CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
  $(function (){
    var windowWidth = $(window).width();
    if (windowWidth < 665) {
      $('#footer-col-left').removeClass('footer-col-left');
      $('#footer-col-right').removeClass('footer-col-right');
      $('#footer-col-left, #footer-col-right').addClass('full-footer');
    }
  });
  $(window).on('resize', function() {
    var windowWidth = $(window).width();
    if (windowWidth < 665) {
      $('#footer-col-left').removeClass('footer-col-left');
      $('#footer-col-right').removeClass('footer-col-right');
      $('#footer-col-left, #footer-col-right').addClass('full-footer');
    }
    else {
      $('#footer-col-left, #footer-col-right').removeClass('full-footer');
      $('#footer-col-left').addClass('footer-col-left');
      $('#footer-col-right').addClass('footer-col-right');
    }
  });
</script>

<body>

  <nav class="navbar {% if page.title %}navbar-default{% else %}navbar-inverse{% endif %}">
    <div class="content">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.github.url }}/index">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if page.title == "about" %}class="active"{% endif %}><a href="{{ site.github.url }}/about">About</a></li>
            <li {% if page.title == "services" %}class="active"{% endif %}><a href="{{ site.github.url }}/services">Services</a></li>
            <li {% if page.title == "contact" %}class="active"{% endif %}><a href="{{ site.github.url }}/contact">Contact</a></li>
            <li {% if page.title == "posts" %}class="active"{% endif %}><a href="{{ site.github.url }}/posts">Posts</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>

  {% if page.title %}
    <div class="content">
      <div class="text-center">
        <h1 class="page-title">{{ page.title|capitalize }}</h1>
      </div>
    </div>
  {% endif %}

  {{ content }}

  <footer class="site-footer">

    <div class="content">

      <h2 class="footer-heading topless">{{ site.title }}</h2>
      <hr style="color:white;">

      <div class="footer-table">
        <div class="footer-col-wrapper">
          <div id="footer-col-left" class="footer-col-left">
            <p>Kitsilano and North Vancouver</p>
            <p>604-910-2880</p>
          </div>

          <div id="footer-col-right" class="footer-col-right">
            {{ site.description }}
          </div>
        </div>
      </div>
    </div>

  </footer>

</body>
